.test_image_and_result{
    background-color: grey;
    border-radius: 10px;
    padding: 100px;
    margin: 100px;
    color: white;
}
#google{
    width: 100px;
    height: 100px;
}
span{
    display: inline-block;
}

img{
    width: 300px;
    height:400px;
}

#haha{
    background-color: lightcoral;
    color: black;
    border-radius: 10px;
    padding: 100px;
    margin: 100px;
}
